{% extends "base.twig" %}

{% block extra_js %}
    <script src="/static/resonant/diceware/diceware.js"></script>
    <script src="/static/join.js"></script>
{% endblock %}

{% block main %}
    {% if status %}
        <div class="join_status">{{ status|e }}</div>
    {% endif %}
    <div class="form_group">
        <div class="form_row">
            <label for="txtUsername">Username:</label>
            <input type="text" id="txtUsername" name="username" />
        </div>
        <div class="form_row">
            <label for="txtEmail">Email Address:</label>
            <input type="text" id="txtEmail" name="email" />
        </div>
    </div>
    <div class="form_group">
        <div class="form_row">
            <label>&nbsp;</label>
            <button id="suggest_pw" type="button"> Loading Diceware... </button>
            <span id="pw_strength"></span>
        </div>
        <div class="form_row">
            <label for="txtNewPassword">New Passphrase:</label>
            <input type="password" id="txtNewPassword" name="new_password" />
        </div>
        <div class="form_row">
            <label for="txtNewPassword2">Confirm:</label>
            <input type="password" id="txtNewPassword2" name="new_password2" />
        </div>
    </div>
{% endblock %}
